@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@200;300;400;500&display=swap');

* {
  font-family: 'Raleway', sans-serif;
}

a {
  text-decoration: none;
  color: #fff;
}

body {
  color: #fff;
  background: rgb(238, 174, 202);
  background: radial-gradient(
    circle,
    rgba(238, 174, 202, 1) 0%,
    rgba(148, 187, 233, 1) 100%
  );
  min-height: 100vh;
}

/* glass container */
.container {
  display: flex;
  justify-content: center;
}

.glass-container {
  display: block;
  max-width: 72vw;
  margin-top: 10vh;
  margin-bottom: 30px;
  background: rgba(0, 0, 0, 0.56);
  padding: 50px;
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(167, 5, 5, 0.1);
  backdrop-filter: blur(11.6px);
  -webkit-backdrop-filter: blur(11.6px);
}



/* navbar e submenu */
nav {
  position: relative;
  display: flex;
  justify-content: space-between;
}

nav ul {
  position: relative;
  list-style: none;
}

.sub-menu {
  z-index: 100;
  width: 100%;
}

.sub-menu ul {
  padding-inline-start: 0;
  padding-bottom: 10px;
}

.sub-menu li {
  margin-top: 10px;
}

nav ul li:hover {
  background-color: rgba(0, 0, 0, 0.3);
  border: 0px;
  border-radius: 10px;
  border-bottom-right-radius: 10px;
  /* padding-right: 10px; */
  transition: all 0.2s ease;
  justify-content: center;
}

.nav-link {
  position: relative;
  padding: 5px;
}

nav ul .sub-menu {
  position: absolute;
  display: none;
  top: 70%;
  left: 0;
  background-color: #403641;
  border-radius: 10%;
  align-items: center;
  justify-content: center;
}

nav ul li.nav-link:hover .sub-menu {
  display: initial;
}

nav ul li.nav-link .sub-menu:hover {
  display: initial;
}
nav ul li.nav-link:hover .sub-menu:hover {
  display: initial;
}

ul.nav-links {
  margin: 0;
  display: flex;
  flex: 80;
  list-style: none;
  justify-content: center;
}

.sub-menu {
  padding-top: 10px;
}

li.nav-link {
  display: inline-block;
  flex: 1;
  position: relative;
  font-size: 16px;
  font-weight: 200;
  text-align: center;
}

.nav-link a {
  width: 100%;
}

/* conteúdo */
.logo {
  display: inline-block;
  font-size: 30px;
  font-weight: 600;
  margin-top: -10px;
  flex: 87;
}

span {
  color: #0e0d0d;
  font-weight: 500;
}

.content {
  display: flex;
  width: 100%;
  gap: 50px;
}

.main {
  margin-top: 3vh;
  display: inline-block;
  padding: 20px;
  padding-bottom: 0;
}

.main h2 {
  font-size: 35px;
}

.main h5 {
  display: flex;
  justify-content: center;
  font-size: large;
  margin-bottom: 5px;
}

.main p {
  font-size: 16px;
  line-height: 23px;
}

.content .contact-text {
  display: flex;
  justify-content: center;
  margin-right: 5px;
}

footer span{
  display: flex;
  justify-content: center;
  font-weight: 700;
  font-size: 13px;
  color: #403641;
}

/* buttons */
button {
  margin-top: 10px;
  width: 100%;
  height: 40px;
  font-size: 15px;
  color: #fff;
  background-color: transparent;
  border: 1px solid #fff;
  border-radius: 10px;
  cursor: pointer;
  transition: all 0.3s ease;
}

button:hover {
  border-color: #2668db;
  background-color: #2668db;
}

/* imagens */
.image-container {
  display: flex;
  justify-content: end;
}

.image-wrapper {
  display: flex;
  flex-direction: column;
  position: relative;
  justify-content: center;
  align-items: center;
}

.image-wrapper img {
  max-width: 400px;
  border-radius: 500px;
  width: 300px;
  height: 300px;
  position: relative;
  margin-top: 20%;
}

.image-wrapper img.image-small {
  width: 200px;
  height: 200px;
}

.image-wrapper p {
  text-align: center;
}

.image-project {
  margin-left: 100%;
}


/* cards */
.card {
  background-color: rgba(0, 0, 0, 0.3);
  border-top-style: groove;
  /* border-end-end-radius: 20%; */
  border-bottom-right-radius: 40px;
  margin-bottom: 15px;
  padding: 20px;
}

.card h4 {
  text-align: center;
  margin-top: 10px;
}

/* responsividade */
@media screen and (max-width: 1075px) {
  .content {
    flex-direction: column;
  }
  .content .contact-text{
    margin: 0;
  }
  .image-wrapper img {
    margin-top: 0px;
  }
  .image-project {
    margin: 0px;
  }
}

@media screen and (max-width: 720px) {
  .logo {
    font-size: 22px;
    justify-content: center;
  }
  li.nav-link {
    font-size: 13px;
    justify-content: center;
  }
  .main h2 {
    font-size: 28px;
  }
  .main p {
    font-size: 15px;
  }
  .content .contact-text{
    margin: 0;
  }
  .image-wrapper img {
    max-width: 300px;
    margin-top: 0px;
  }
  .image-project {
    margin: 0px;
  }
}
